@import url('https://fonts.googleapis.com/css?family=Oxygen');

$white: #FFF;
$vivid: #009FFD;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  // background-image: url('../img/portland.jpeg');
  background-size: cover;
  display: flex;
  // height: 900px;
  opacity: .5;
}

h1 {
  // float: left;
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 5em;
  margin-left: 5%;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
  margin-left: 7%;
  opacity: .5;
}

p {
  font-family: 'Oxygen', sans-serif;
}

span {
  color: $vivid;
}

.contact {
  float: left;
  margin-top: 5%;
}

.icon {
  width: 30px;
  margin: 5px;
}

.icons {
  float: right;
  margin-left: 50%;
  margin-top: 2%;
}

.intro {
  // width: 50%;
  width: 100vw;
  min-height: 50vh;
  padding: 5%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.page {
  margin: 5%;
}

.white {
  color: $white;
}

#one {

}

#two {
  background-color: $vivid;
}

#three {

}
